.banner {
  text-align: center;
  color: crimson;
  font-size: x-large;
  font-weight: bold;
  margin: 40px 0px;
}

.footer {
  display: flex;
  align-items: center;
  margin-top: auto;
  padding: 24px 0px;
  height: 2.5rem;
  color: darkgray;
  font-size: small;
}

.header {
  position: fixed;
  display: flex;
  align-items: center;
  height: 42px;
  width: 100%;
  background-color: crimson;
  font-size: larger;
  justify-content: space-between;

  .header-text {
    margin-left: 12px;
  }

  .header-icons {
    margin-right: 12px;

    .icon-button + .icon-button {
      padding-left: 12px;
    }
  }
}

.modal {
  padding: 0px;
  overflow: auto;
  border-color: dimgrey;
  background-color: black;
  color: ivory;
  user-select: none;
  ::backdrop {
    background: rgba(0, 0, 0, 0.5);
  }

  h3 {
    margin: 0px;
  }

  .modal-contents {
    padding: 1rem;
  }
}

.dropdown {
  position: relative;

  .dropdown-btn {
    cursor: pointer;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    justify-content: space-between;
    padding: 8px;
    width: 200px;
    background-color: black;
    border: 1px solid whitesmoke;
    border-radius: 4px;
    font-weight: lighter;
  }

  .dropdown-content {
    position: absolute;
    z-index: 9999;
    width: 200px;
    cursor: pointer;
    border: 1px solid whitesmoke;
    background-color: black;
    border-top: none;
    border-radius: 2px;

    .option {
      display: flex;
      justify-content: space-between;
      padding: 8px;

      svg {
        font-size: large;
      }

      &:hover {
        background-color: dimgray;
      }

      &.selected,
      &:active {
        background-color: grey;
      }
    }
  }
}

.image {
  max-width: 100%;
  height: auto;
  cursor: zoom-in;

  &.zoomed {
    cursor: zoom-out;
    transform: scale(1.5);
    background-color: black;
    box-shadow: 0 0 8px 8px black;
  }
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  margin: 5px;
  width: 200px;
  height: 38px;
  font-size: medium;
  color: ivory;
  background-color: black;
  border: 1px solid whitesmoke;
  border-radius: 4px;
  cursor: pointer;
  gap: 10px;

  svg {
    font-size: x-large;
  }

  &:hover {
    background-color: dimgray;
  }

  &:active {
    background-color: grey;
  }

  &:disabled {
    cursor: not-allowed;
    background-color: darkgrey;
  }
}

.icon-button {
  cursor: pointer;
  font-size: large;
  padding: 2px;

  &:hover {
    transform: scale(1.25);
  }

  &:active {
    transform: scale(1.5);
  }
}

.healthbar {
  width: 280px;
  background-color: white;
  border-radius: 10px;
  margin: 4px;

  .health {
    color: white;
    text-align: center;
    border-radius: 10px;
  }
}

.typewriter {
  font-size: large;
  text-align: center !important;
}

.button-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}

@keyframes fade-out {
  from {
    opacity: 100;
  }
  to {
    opacity: 0;
  }
}
