.root {
    overflow: auto;
    color: whitesmoke;
    user-select: none;
}

.app {
    display: flex;
    flex-direction: column;
    text-align: justify;
    align-items: center;
    padding: 10px;
}

.character-stats {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .ability {
        cursor: pointer;
    }
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 10px 0px;
}

.error {
    color: yellow;
    font-size: small;
    margin: 0px;
}

.info-text {
    color: darkgrey;
    margin: 0px 6px;
    text-align: center;
    font-size: small;
}

.bonus-text {
    color: lawngreen;
    text-align: center;
    font-size: small;
}

.damage-text {
    color: red;
    text-align: center;
    font-size: small;
}

.text-input {
    width: 240px;
    font-size: medium;
    border-radius: 4px;

    &.invalid {
        outline: 1px solid red;
        outline-offset: -1px;
    }
}
