.root {
    display: flex;
    flex-direction: column;
    text-align: justify;
    align-items: center;
    overflow-y: scroll;
    padding: 2vh;
    height: 96vh;
    color: whitesmoke;
    background-color: black;
}

.banner {
    color: crimson;
    font-size: x-large;
    margin: 20px 0px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.row {
    display: flex;
    align-items: center;
    margin: 10px 0px;

    label {
        margin-right: 5px;
    }
}

.error {
    color: yellow;
    font-size: small;
    margin: 0px;
}

.info-text {
    color: darkgrey;
    margin: 0px 6px;
    text-align: center;
    font-size: small;
}

.bonus-text {
    color: lawngreen;
    text-align: center;
    font-size: small;
}

.text-input {
    width: 240px;
    font-size: medium;
    border-radius: 4px;

    &.invalid {
        outline: 1px solid red;
        outline-offset: -1px;
    }
}

button {
    padding: 5px;
    margin: 5px;
    min-width: 200px;
    font-size: medium;
    color: white;
    background-color: black;
    border: 1px solid white;
    border-radius: 4px;

    &:hover {
        background-color: dimgray;
    }

    &:active {
        background-color: grey;
    }

    &:disabled {
        background-color: darkgray;
    }
}

button + button {
    margin-top: 12px;
}
